.blogHeader
{
    text-align: center;
    font-size: 72px;
}
.article
{
    box-shadow: 1px 1px 5px #888888;
    margin:25px;
    padding:10px;
    
}

a:hover{
text-decoration: none;
}
.articleTitle
{
    font-weight: bold;
    font-size: 20px;
}

.articlePreview
{
    margin-bottom:50px;
    color:#999;
}
.articleAuthor
{
    color:#279e58;
}
.articleTime
{
    margin-top:10px;
}

.pageHeader
{
      font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.pagebody
{
    margin-bottom: 30px;
    text-align: justify;
}
.comments
{
    margin-left:30px;
    margin-bottom:20px;
}
.newComment
{
    margin-bottom: 30px;
}